<title>PoA Dapp</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css">
<link rel="stylesheet" type="text/css" href="/node_modules/@fortawesome/fontawesome-free/css/regular.css">
<link rel="stylesheet" type="text/css" href="/node_modules/@fortawesome/fontawesome-free/css/brands.css">
<link rel="stylesheet" type="text/css" href="/node_modules/@fortawesome/fontawesome-free/css/solid.css">

<link rel="stylesheet" href="/tema/css/ace.min.css">