<div id="sidebar" class="sidebar sidebar-fixed expandable sidebar-default d-none d-xl-block">
    <div class="sidebar-inner">
        <div class="ace-scroll flex-grow-1" ace-scroll>

            <ul class="nav has-active-border" role="navigation" aria-label="Main">
                <li class="nav-item-caption">
                    <span class="fadeable pl-3">Principal</span>
                    <span class="fadeinable mt-n2 text-125">&hellip;</span>
                </li>

                <li class="nav-item" id="menu-processos">
                    <a href="/processos" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <span class="nav-text fadeable">
                            <span>Processos</span>
                        </span>
                    </a>
                    <b class="sub-arrow"></b>
                </li>
                <li class="nav-item" id="menu-cadastrar-peca">
                    <a href="/pecas-processuais/cadastrar" class="nav-link">
                        <i class="nav-icon fas fa-file-pdf"></i>
                        <span class="nav-text fadeable">
                            <span>Cadastrar Peça</span>
                        </span>
                    </a>
                    <b class="sub-arrow"></b>
                </li>
                <li class="nav-item">
                    <a href="/api/auth/logout" class="nav-link">
                        <i class="nav-icon fa fa-power-off"></i>
                        <span class="nav-text fadeable">
                            <span>Sair</span>
                        </span>
                    </a>
                    <b class="sub-arrow"></b>
                </li>
            </ul>

        </div><!-- /.sidebar scroll -->
    </div>
</div><!-- /#sidebar -->