<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head-comum.html'); %>
    <link rel="stylesheet" href="/tema/css/login.css">
    
</head>
<body>
    <div class="body-container">

        <div class="main-container container">
  
          <div role="main" class="main-content minh-100 justify-content-center">
            <div class="p-2 p-md-4">
              <div class="row justify-content-center">
                <div class="shadow radius-1 overflow-hidden bg-white col-12 col-lg-5">
  
                  <div class="row">
                    <div class="col-12 bgc-white px-0">
                      <!-- you can also use tab links -->
                      <ul class="d-none mt-n4 mb-4 nav nav-tabs nav-tabs-simple justify-content-end" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#id-tab-login" role="tab" aria-controls="login" aria-selected="true">
                            Login
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#id-tab-signup" role="tab" aria-controls="signup" aria-selected="false">
                            Signup
                          </a>
                        </li>
                      </ul>
  
  
                      <div class="tab-content tab-sliding border-0 p-0" data-swipe="right">
                        <div class="tab-pane active show mh-100 px-3 px-lg-0 pb-3" id="id-tab-login">
                          <div class="text-secondary-m1 my-4 text-center">
                            <i class="fas fa-link text-success-m2 text-200 mb-4"></i>
                            <h1 class="text-170">
                              <span class="text-blue-d1">Judi <span class="text-80 text-dark-tp3">Chain</span></span>
                            </h1>
  
                            Bem-vindo!
                          </div>
  
                          <form class="form-row mt-4" id="loginForm">
                            <div class="form-group col-md-8 offset-md-2">
                              <div class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
                                <input type="text" class="form-control form-control-lg pr-4 shadow-none" id="username" autocomplete="off" />
                                <i class="fa fa-user text-grey-m2 ml-n4"></i>
                                <label class="floating-label text-grey-l1 text-100 ml-n3" for="username">Usuário</label>
                              </div>
                            </div>
  
                            <div class="form-group col-md-8 offset-md-2 mt-2 mt-md-1">
                              <div class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
                                <input type="password" class="form-control form-control-lg pr-4 shadow-none" id="password" autocomplete="off" />
                                <i class="fa fa-key text-grey-m2 ml-n4"></i>
                                <label class="floating-label text-grey-l1 text-100 ml-n3" for="password">Senha</label>
                              </div>
                            </div>
  
                            <div class="form-group col-md-8 offset-md-2">
                              <button type="submit" class="btn btn-info btn-block btn-md btn-bold mt-2 mb-4">
                                Logar
                              </button>
                            </div>
                          </form>
  
  
                          <div class="form-row">
                            <div class="col-12 col-md-8 offset-md-2 d-flex flex-column align-items-center justify-content-center">
  
                              <hr class="brc-default-m4 mt-0 mb-2 w-100" />
  
                              <div class="p-0 px-md-2 text-dark-tp3 my-3">
                                Não é cadastrado?
                                <a class="text-success-m2 text-600 mx-1" data-toggle="tab" data-target="#id-tab-signup" href="#">
                                  Cadastre-se
                                </a>
                              </div>
  
                            </div>
                          </div>
                        </div>
  
  
                        <div class="tab-pane mh-100 px-3 px-lg-0 pb-3" id="id-tab-signup" data-swipe-prev="#id-tab-login">
                          <div class="position-tl ml-3 mt-3 mt-lg-0">
                            <a href="#" class="btn btn-light-default bg-transparent" data-toggle="tab" data-target="#id-tab-login"><i class="fa fa-arrow-left"></i></a>
                          </div>
  
                          <div class="text-secondary-m1 my-4 text-center">
                            <i class="fas fa-link text-success-m2 text-200 mb-4"></i>
                            <h1 class="text-170">
                              <span class="text-blue-d1">Judi <span class="text-80 text-dark-tp4">Chain</span></span>
                            </h1>
  
                            Criar conta
                          </div>
  
                          <form class="form-row mt-4" id="registerForm">
                            <div class="form-group col-md-8 offset-md-2 mt-1">
                              <div class="d-flex align-items-center input-floating-label text-success-m1 brc-success-m2">
                                <input type="text" class="form-control form-control-lg pr-4 shadow-none" id="username-registrar" autocomplete="off" />
                                <i class="fa fa-user text-grey-m2 ml-n4"></i>
                                <label class="floating-label text-grey-l1 text-100 ml-n3" for="username-registrar">Usuário</label>
                              </div>
                            </div>
  
                            <div class="form-group col-md-8 offset-md-2 mt-1">
                              <div class="d-flex align-items-center input-floating-label text-success-m1 brc-success-m2">
                                <input type="password" class="form-control form-control-lg pr-4 shadow-none" id="password-registrar" autocomplete="off" />
                                <i class="fa fa-key text-grey-m2 ml-n4"></i>
                                <label class="floating-label text-grey-l1 text-100 ml-n3" for="password-registrar">Senha</label>
                              </div>
                            </div>
  
                            <!-- <div class="form-group col-md-8 offset-md-2 mt-1">
                              <div class="d-flex align-items-center input-floating-label text-success-m1 brc-success-m2">
                                <input type="password" class="form-control form-control-lg pr-4 shadow-none" id="id-signup-password2" autocomplete="off" />
                                <i class="fas fa-sync-alt text-grey-m2 ml-n4"></i>
                                <label class="floating-label text-grey-l1 text-100 ml-n3" for="id-signup-password2">Confirm Password</label>
                              </div>
                            </div> -->
  
                            <div class="form-group col-md-8 offset-md-2 mt-2">
                              <!-- <label class="d-inline-block mt-3 mb-0 text-secondary-d2">
                                <input type="checkbox" class="mr-1" id="id-agree" />
                                <span class="text-secondary-d2">I have read and agree to <a href="#" class="text-blue">terms</a></span>
                              </label> -->
  
                              <button type="submit" class="btn btn-success btn-block btn-md btn-bold mt-2 mb-3" id="botao-cadastrar">
                                Cadastrar
                              </button>
                            </div>
                          </form>
  
  
                          <div class="form-row w-100">
                            <div class="col-12 col-md-8 offset-md-2 d-flex flex-column align-items-center justify-content-center">
  
                              <hr class="brc-default-m4 mt-0 mb-2 w-100" />
  
                              <div class="p-0 px-md-2 text-dark-tp4 my-3">
                                Já é cadastrado?
                                <a class="text-blue-m2 text-600 mx-1" id="entre-aqui" data-toggle="tab" data-target="#id-tab-login" href="#">
                                  Entre aqui
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- .tab-content -->
                    </div>
  
                  </div>
  
                </div>
              </div>
            </div>
          </div><!-- /main -->
  
        </div><!-- /.main-container -->
  
        <!-- include common vendor scripts used in demo pages -->
        
      </div><!-- /.body-container -->

    <!-- <div class="container-fluid" style="margin-top: 10%">
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4 col-sm-4">
                <h4> Bem-vindo </h4>
                <form id="loginForm">
                    <div class="form-group">
                      <label for="username">Nome de usuário</label>
                      <input type="text" class="form-control" id="username" placeholder="Nome de usuário" required>
                    </div>

                    <div class="form-group">
                      <label for="password">Senha</label>
                      <input type="password" class="form-control" id="password" placeholder="Senha" required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>

                <small id="emailHelp" class="form-text text-muted">
                    Não tem uma conta?
                    <a href="/api/auth/register"> Registre-se </a>
                </small>
            </div>
        </div>
    </div> -->
  
    <%- include('includes/scripts-comuns.html'); %>

    <script src="/js/login.js"></script>
</body>
</html>