<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head-comum.html'); %>
    </head>
    <body>
        <div class="body-container">
            <%- include('includes/navbar.html'); %>
    
            <div class="main-container">
                <%- include('includes/menu.html'); %>

                <div class="main-content" role="main">
                    <div class="page-content container">
                        <div class="page-header">
                            <h1 class="page-title text-primary-d2">
                                Processos
                                <small class="page-info text-secondary-d2">
                                    <i class="fa fa-angle-double-right text-80"></i>
                                    Listagem
                                </small>
                            </h1>
                        </div>
                        
                        <div class="row d-none" id="nenhum-processo">
                            <div class="col-12">
                                <div class="alert d-flex bgc-danger-l4 text-dark-tp3 radius-0 text-120 brc-danger-l3" role="alert">
                                    <div class="position-tl h-102 ml-n1px border-l-4 brc-danger-tp3 m-n1px"></div>
          
                                    <i class="fas fa-exclamation-circle mr-3 fa-2x text-warning-d2 opacity-1"></i>
                                    <span class="align-self-center">Nenhum processo cadastrado!</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="lista-de-processos"></div>
                    </div><!-- .page-content -->

                    <div id="footer" class="footer">
                    <!-- footer content -->
                    </div><!-- #footer -->
                </div><!-- main -->
            
            </div><!-- .main-container -->
    
        </div><!-- .body-container -->
            
        <%- include('includes/scripts-comuns.html'); %>

        <script src="/js/processos/listaProcessos.js"></script>

    </body>
</html>